<!--
  Generated template for the FindRecordsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>{{ 'FINDRECORDS' | translate }}</ion-title>
  </ion-navbar>
  <!--
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  -->
  <ion-searchbar [(ngModel)]="searchTerm" [showCancelButton]="shouldShowCancel" (ionInput)="filterItems()" placeholder="{{ 'SEARCHBYFIRSTNAMELASTNAMEUSER' | translate }}"></ion-searchbar>
</ion-header>



<ion-content class="page-background">
  <ion-list>
      <ion-grid fixed>
        <ion-row>
          <!--ion-col *ngFor="let communityRecord of communityRecords" col-12 -->
          <ion-col *ngFor="let communityRecord of filteredCommunityRecords" col-12 >
            <card-flipping class='record-card'>
                <div class="flash-card-front">
                  <h4>{{ 'LICENSENUM' | translate }}: {{ communityRecord.get('cedulaNumber') }}</h4>
                  <h1>{{ communityRecord.get('lname') }}, {{ communityRecord.get('fname') }}</h1>
                  <h4>{{ communityRecord.get('dob') }}, {{ communityRecord.get('sex') }}</h4>
                  <h6>{{ communityRecord.get('communityname') }}, {{ communityRecord.get('city') }}</h6>
                  <h6>{{ communityRecord.get('province') }}</h6>
                  <p color="grey">{{ 'SUBMITTEDBY' | translate }}: {{ communityRecord.get('surveyingUser') }}</p>
                </div>
              
                <div class="flash-card-back">
                  <ion-grid>
                      <ion-row>
                        <!--ion-col>
                          <button ion-button icon-left small full (click)="openConsumerEnviroEval()">
                            <ion-icon name="medkit"></ion-icon>
                            <div>{{ 'CONSUMERENVIROEVAL' | translate }}</div>
                          </button>
                        </ion-col>
                        <ion-col>
                          <button ion-button icon-left small full >
                            <ion-icon name="cut"></ion-icon>
                            <div>{{ 'CONSUMERMEDICALEVAL' | translate }}</div>
                          </button>
                        </ion-col-->
                        
                        <ion-col>
                          <button ion-button icon-left small full (click)="openConsumerMedicalEval(communityRecord)">
                            <ion-icon name="information-circle"></ion-icon>
                            <div>{{ 'PATIENTDEMOGRAPHICS' | translate }}</div>
                          </button>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <button color="red" ion-button icon-left small full (click)="presentActionSheet(communityRecord.id)">
                            <ion-icon name="trash"></ion-icon>
                            <div>{{ 'DESTROY' | translate }}</div>
                          </button>
                        </ion-col>
                      </ion-row>
                  </ion-grid>
                </div>
            </card-flipping>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-list>
</ion-content>
