page-visual-charts {

    .dashboard-header{
		color: goldenrod
	}
	.dashboard-content{
		background-color: #333333;
		color: goldenrod
	}

	.scroll-content {
        background-color: map-get($colors, primary);
    }
 
    ion-card-header {
        font-weight: bold;
    }
    .card-header{
    	color: goldenrod;
    	background-color: map-get($colors, primary-black);
    	padding: true;
    }
	
	/**
	* LAPTOP and up (992px)
	*/
	@media (min-width: map-get($grid-breakpoints, lg)) {

	}
	
	/**
	* IPAD and up (796px)
	*/
	@media (min-width: map-get($grid-breakpoints, md)) {

	}

}
