<ion-content>
  <ion-card >
    <ion-card-header (click)="close()" class='card-title'>
      Medical History
    </ion-card-header>
    <ion-list>
        <ion-item>
          <ion-label floating>Major Events</ion-label>
          <p>"Like crashes, accidents, traumas"</p>
          <ion-textarea [(ngModel)]="medicalHistory.majorEvents"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label floating>What Kind of Surgeries Have you Had?</ion-label>
            <ion-textarea [(ngModel)]="medicalHistory.surgeryWhatKind"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label floating>Ongoing Medical Problems</ion-label>
            <ion-textarea [(ngModel)]="medicalHistory.medicalIllnesses"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label floating>When were you diagnosed?</ion-label>
            <ion-textarea [(ngModel)]="medicalHistory.whenDiagnosed"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label floating>What doctor do you see about your illness?</ion-label>
            <ion-textarea [(ngModel)]="medicalHistory.whatDoctorDoyousee"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label floating>What did you doctor recommend for treatment?</ion-label>
            <ion-textarea [(ngModel)]="medicalHistory.treatment"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label floating>Family Health History</ion-label>
            <ion-textarea [(ngModel)]="medicalHistory.familyhistory"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label floating>Preventative Care Attempts</ion-label>
            <ion-textarea [(ngModel)]="medicalHistory.preventativeCare"></ion-textarea>
        </ion-item>
        


        
    </ion-list>
    <ion-item no-lines>
      <button ion-button icon-left full block large color="accent" (click)="post_n_clear()" >
        <ion-icon name="checkmark-circle"></ion-icon>
        Submit Medical History
      </button>
    </ion-item>
  </ion-card>
</ion-content>
<!-- 
  We are using content projection with <ng-content> to project whatever 
  we add inside of the <accordion> tags into the component’s template. 
  This means that we can display some content here inside of our component.

  We also have a wrapper <div> that has a template variable of expandWrapper so 
  that we can access it later, and the collapsed class is being applied conditionally 
  based on the value of expanded. This is how we will toggle the collapsed styling on and off.
-->