<ion-card>
  <ion-card-header class='card-title'>
    Environmental Health 
  </ion-card-header>
    <ion-item-group>

      <ion-item>
        <ion-label>Years Lived in the community | Años viviendo en la comunidad</ion-label>
        <ion-select [(ngModel)]="environmentalHealth.yearsLivedinthecommunity" interface ='popover'>
            <ion-option text-wrap value="lessThan1"> Less Than 1 Year | Menos que 1 año </ion-option>
            <ion-option text-wrap value="1-2"> 1-2 Years | 1-2 años  </ion-option>
            <ion-option text-wrap value="3-4"> 3-4 Years | 3-4 años  </ion-option>
            <ion-option text-wrap value="5-10"> 5-10 Years | 5-10 años </ion-option>
            <ion-option text-wrap value="moreThan10"> >10 Years | 10 años  </ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Years Lived in this house | Años viviendo en este casa</ion-label>
        <ion-select [(ngModel)]="environmentalHealth.yearsLivedinThisHouse" interface ='popover'>
            <ion-option text-wrap value="lessThan1"> Less Than 1 Year | Menos que 1 año </ion-option>
            <ion-option text-wrap value="1-2"> 1-2 Years | 1-2 años  </ion-option>
            <ion-option text-wrap value="3-4"> 3-4 Years | 3-4 años  </ion-option>
            <ion-option text-wrap value="5-10"> 5-10 Years | 5-10 años </ion-option>
            <ion-option text-wrap value="moreThan10"> >10 Years | 10 años  </ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>How often do you have access to water? | Cuántas veces tiene acceso al agua? </ion-label>
        <ion-select [(ngModel)]="environmentalHealth.waterAccess" interface ='popover'>
            <ion-option text-wrap value="everyday"> Everyday | Todos los dias  </ion-option>
            <ion-option text-wrap value="4-6AWeek"> 4-6 days a week | 4-6 dias a la semana  </ion-option>
            <ion-option text-wrap value="2-3AWeek"> 2-3 days per week | 2-3 dias a la semana  </ion-option>
            <ion-option text-wrap value="1AWeek"> Less than Or Equal to 1 Day per week  | 1 dia a la semana  </ion-option>
            <ion-option text-wrap value="1AMonth"> 1 Day per month | 1 dia al mes  </ion-option>
            <ion-option text-wrap value="Never"> Never | Nunca </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>What type of water do you drink? | Que tipo de agua toma?</ion-label>
        <ion-select [(ngModel)]="environmentalHealth.typeofWaterdoyoudrink" interface ='popover'>
            <ion-option text-wrap value="bottled"> Bottled | Botellon </ion-option>
            <ion-option text-wrap value="tap"> Tap | Llave  </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
          <ion-label>Do you have access to a latrine? | Tiene acceso a una letrina o baño? </ion-label>
          <ion-select [(ngModel)]="environmentalHealth.latrineAccess" interface ='popover'>
              <ion-option text-wrap value="Y"> Yes | Si </ion-option>
              <ion-option text-wrap value="N"> No </ion-option>
          </ion-select>
        </ion-item>

        
        <ion-item>
            <ion-label>Do you have clinic access? | Tiene acceso a una clinica o un hospital?</ion-label>
            <ion-select [(ngModel)]="environmentalHealth.clinicAccess" interface ='popover'>
                <ion-option text-wrap value="Y"> Yes | Si </ion-option>
                <ion-option text-wrap value="N"> No </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>What is the condition of the floor in your house? | Cual es la condición del piso  de su casa?</ion-label>
          <ion-select [(ngModel)]="environmentalHealth.conditionoFloorinyourhouse" interface ='popover'>
              <ion-option text-wrap value="dirtPoor"> Dirt Floor and Poor Condition | Tierra y mala condicion  </ion-option>
              <ion-option text-wrap value="dirtWorking"> Dirt Floor and Working Condition | Tierra regular  </ion-option>
              <ion-option text-wrap value="cementPoor"> Cement Floor and Poor Condition | Cemento mala condicion </ion-option>
              <ion-option text-wrap value="cementWorking"> Cement Floor and Working Condition | Cemento Regular  </ion-option>
          </ion-select>
        </ion-item>
      
          <ion-item>
            <ion-label>What is the condition of the roof in your house? | Cual es la condición de su techo?</ion-label>
            <ion-select [(ngModel)]="environmentalHealth.conditionoRoofinyourhouse" interface ='popover'>
                <ion-option text-wrap value="poor"> Poor Condition | Mala  </ion-option>
                <ion-option text-wrap value="working"> Working Condition | Regular  </ion-option>
            </ion-select>
          </ion-item>

        <ion-item>
          <ion-label floating>When you have medical problems, where do you go for help? | Cuándo tiene problemas médicos, dónde va?</ion-label>
          <ion-input type="text" [(ngModel)]="environmentalHealth.medicalproblemswheredoyougo"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label floating>When you have dental problems, where do you go for help? | Cuándo tiene problemas dentales, dónde va? </ion-label>
          <ion-input type="text" [(ngModel)]="environmentalHealth.dentalproblemswheredoyougo"></ion-input>
        </ion-item>
    </ion-item-group>
</ion-card>

<ion-card>
  <ion-item no-lines>
    <button ion-button icon-left full block large color="accent" (click)="post_n_clear()" >
      <ion-icon name="checkmark-circle"></ion-icon>
      Submit Development History
    </button>
  </ion-item>
</ion-card>
