<ion-content>
  <!--Environmental Health -->
  <ion-card>
    
    <ion-item color='primary-dark' (click)="close()">
      {{ 'CLIENT' | translate }}
      <ion-label>{{client.fname}} {{client.fname}}</ion-label>
      <ion-icon name="person" item-start></ion-icon>
    </ion-item>

    <ion-card-header ion-text text-wrap class='card-title'>
      {{ 'CONTEXTWITHINCOMMUNITY' | translate }}
    </ion-card-header>

    <ion-item-group>
      <!--Context Within Community-->
      <ion-item>
        <ion-label>{{ 'YEARSLIVEDINCOMM' | translate }}</ion-label>
        <ion-select [(ngModel)]="environmentalHealth.yearsLivedinthecommunity" interface ='popover'>
            <ion-option text-wrap value="lessThan1"> {{ 'LESSTHAN1YEAR' | translate }} </ion-option>
            <ion-option text-wrap value="1-2"> {{ '1-2' | translate }}  </ion-option>
            <ion-option text-wrap value="3-4"> {{ '3-4' | translate }}  </ion-option>
            <ion-option text-wrap value="5-10"> {{ '5-10' | translate }} </ion-option>
            <ion-option text-wrap value="moreThan10"> {{ '10+' | translate }}  </ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'YEARSLIVEDINTHISHOUSE' | translate }}</ion-label>
        <ion-select [(ngModel)]="environmentalHealth.yearsLivedinThisHouse" interface ='popover'>
          <ion-option text-wrap value="lessThan1"> {{ 'LESSTHAN1YEAR' | translate }} </ion-option>
          <ion-option text-wrap value="1-2"> {{ '1-2' | translate }}  </ion-option>
          <ion-option text-wrap value="3-4"> {{ '3-4' | translate }}  </ion-option>
          <ion-option text-wrap value="5-10"> {{ '5-10' | translate }} </ion-option>
          <ion-option text-wrap value="moreThan10"> {{ '10+' | translate }}  </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'BIGGESTPROBLEMOFCOMMUNITY' | translate }} </ion-label>
        <ion-input type="text" [(ngModel)]="environmentalHealth.biggestproblemofcommunity"></ion-input>
      </ion-item>
    </ion-item-group>
  </ion-card>

  <!--Accessibility-->
  <ion-card>
      <ion-card-header class='card-title' (click)="expandItem(accordionItems[0])">
        {{ 'ACCESSIBILITY' | translate }}
      </ion-card-header>
    <ion-item-group>
      <accordion [expanded]="accordionItems[0].expanded">
        <ion-item>
          <ion-label>{{ 'OFTENACCESSWATER' | translate }} </ion-label>
          <ion-select [(ngModel)]="environmentalHealth.waterAccess" interface ='popover'>
              <ion-option text-wrap value="everyday"> {{ 'EVERYDAY' | translate }}  </ion-option>
              <ion-option text-wrap value="4-6AWeek"> {{ '4-6DAYSAWEEK' | translate }} </ion-option>
              <ion-option text-wrap value="2-3AWeek"> {{ '2-3DAYSAWEEK' | translate }} </ion-option>
              <ion-option text-wrap value="1AWeek"> {{ 'LESSTHAN1DAYAWEEK' | translate }}  </ion-option>
              <ion-option text-wrap value="1AMonth"> {{ '1DAYAMONTH' | translate }}  </ion-option>
              <ion-option text-wrap value="Never"> {{ 'NEVER' | translate }} </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>{{ 'TYPEOFWATER' | translate }} </ion-label>
          <ion-select [(ngModel)]="environmentalHealth.typeofWaterdoyoudrink" interface ='popover'>
              <ion-option text-wrap value="bottled"> {{ 'BOTTLED' | translate }} </ion-option>
              <ion-option text-wrap value="tap"> {{ 'TAP' | translate }}  </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>{{ 'ACCESSTOLATRINE' | translate }}  </ion-label>
          <ion-select [(ngModel)]="environmentalHealth.latrineAccess" interface ='popover'>
              <ion-option text-wrap value="Y"> {{ 'YES' | translate }} </ion-option>
              <ion-option text-wrap value="N"> {{ 'NO' | translate }} </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'ACCESSTOCLINIC' | translate }} </ion-label>
            <ion-select [(ngModel)]="environmentalHealth.clinicAccess" interface ='popover'>
                <ion-option text-wrap value="Y"> {{ 'YES' | translate }} </ion-option>
                <ion-option text-wrap value="N"> {{ 'NO' | translate }} </ion-option>
            </ion-select>
        </ion-item>
        
        <ion-item>
            <ion-label floating>{{ 'WHEREDOYOUGOFORMEDICALPROBLEMS' | translate }} </ion-label>
            <ion-input type="text" [(ngModel)]="environmentalHealth.medicalproblemswheredoyougo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{ 'WHEREDOYOUGOFORDENTALPROBLEMS'| translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="environmentalHealth.dentalproblemswheredoyougo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{ 'TIMESTRASHISCOLLECTED' | translate }} </ion-label>
          <ion-input type="number" [(ngModel)]="environmentalHealth.timesperweektrashcollected"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{ 'WHEREISTRASHLEFT' | translate }} </ion-label>
          <ion-input type="text" [(ngModel)]="environmentalHealth.wheretrashleftbetweenpickups"></ion-input>
        </ion-item>
      </accordion>
    </ion-item-group>
  </ion-card>

  <!--Housing Conditions-->
  <ion-card>
    <ion-card-header class='card-title' (click)="expandItem(accordionItems[1])">
      {{ 'HOUSINGCONDITIONS'| translate}}
    </ion-card-header>
    <ion-item-group>
      <accordion [expanded]="accordionItems[1].expanded">
        <ion-item>
          <ion-label>{{ 'CONDITIONOFFLOOR'| translate}}</ion-label>
          <ion-select [(ngModel)]="environmentalHealth.conditionoFloorinyourhouse" interface ='popover'>
              <ion-option text-wrap value="dirtPoor"> {{ 'DIRTFLOOR' | translate }} {{ 'POORCONDITION' | translate }}  </ion-option>
              <ion-option text-wrap value="dirtWorking"> {{ 'DIRTFLOOR' | translate }} {{ 'WORKINGCONDITION' | translate }}   </ion-option>
              <ion-option text-wrap value="cementPoor"> {{ 'CEMENTFLOOR' | translate }} {{ 'POORCONDITION' | translate }}  </ion-option>
              <ion-option text-wrap value="cementWorking"> {{ 'CEMENTFLOOR' | translate }} {{ 'WORKINGCONDITION' | translate }}  </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>{{'CONDITIONOFROOF'| translate}} </ion-label>
          <ion-select [(ngModel)]="environmentalHealth.conditionoRoofinyourhouse" interface ='popover'>
              <ion-option text-wrap value="poor"> {{ 'POORCONDITION' | translate }} </ion-option>
              <ion-option text-wrap value="working">{{ 'WORKINGCONDITION' | translate }}</ion-option>
          </ion-select>
        </ion-item>
      </accordion>
    </ion-item-group>
  </ion-card>
  
  <!--Submission-->
  <ion-card>
    <ion-item no-lines>
      <button ion-button icon-left full block large color="accent" (click)="post_n_clear()" [disabled]="!isenabled" >
        <ion-icon name="checkmark-circle"></ion-icon>
        {{'SUBMIT'| translate}}
      </button>
    </ion-item>
  </ion-card>
</ion-content>

<content-drawer [options]="drawerOptions">
  <searchbar-object-id (emitObjectIDfromComponent)='inputObjectIDfromComponent($event)'></searchbar-object-id>
</content-drawer>