page-consumer-medical-eval {
    ion-navbar{
        border-color: map-get($colors, primary) ;
        padding: 4px 12px;
        opacity: 0.95;
        background-color: black;
    }

    .content{
        background: #F7F8F8;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, map-get($colors, primary), #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, map-get($colors, primary), #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

   

}
