<ion-content >
  <ion-card>
    <ion-card-header class='card-title' color="primary-light" (click)="close()">
      {{'REGISTRATION' | translate }}
    </ion-card-header>

    <ion-list>
        <ion-item>
          <ion-label floating>{{'FIRSTNAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.fname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{'LASTNAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.lname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{'NICKNAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.nickname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{'DOB' | translate }}</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="patientID.dob"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>{{'SEX' | translate }}</ion-label>
          <ion-select [(ngModel)]="patientID.sex" interface ='popover'>
              <ion-option value="Male"> Male | Varon </ion-option>
              <ion-option value="Female"> Female | Hembra </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>{{'TELNUM' | translate }}</ion-label>
          <ion-input type="tel" [(ngModel)]="patientID.telephoneNumber"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{'MARRIAGESTATUS' | translate }}</ion-label>
          <ion-select  [(ngModel)]="patientID.marriageStatus" interface ='popover'>
              <ion-option  value="single"> Single | Solter@ </ion-option>
              <ion-option  value="married"> Married | Casad@ </ion-option>
              <ion-option  value="concubine"> Concubine | Concubina </ion-option>
              <ion-option  value="widow"> Widow | Viuda </ion-option>
          </ion-select>
        </ion-item>
        <!--
        <ion-item>
          <ion-label floating>Family Relationships</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.familyRelationships"></ion-input>
        </ion-item>
        -->
        <ion-item>
          <ion-label floating>{{'OCCUPATION' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.occupation"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{'EDUCATION' | translate }}</ion-label>
          <ion-select text-wrap [(ngModel)]="patientID.educationLevel" interface ='popover'>
              <ion-option text-wrap value="lessThanprimary"> Less than Primary | Primaria no terminada</ion-option>
              <ion-option text-wrap value="primary"> Primary | Primaria  </ion-option>
              <ion-option text-wrap value="someHighSchool"> Some High School | Liceo sin terminar</ion-option>
              <ion-option text-wrap value="highschool"> High School | Bachiller</ion-option>
              <ion-option text-wrap value="someCollege"> Some College | Otra educacion superior</ion-option>
              <ion-option text-wrap value="college"> College | Universidad</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>{{'COMMUNITY' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.communityname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{'CITY' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.city"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{'PROVINCE' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.province"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{'INSURANCENUM' | translate }}</ion-label>
          <ion-input type="number" [(ngModel)]="patientID.insuranceNumber"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{'INSURANCEPROV' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.insuranceProvider"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{'CLINICPROV' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="patientID.clinicProvider"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{'LICENSENUM' | translate }}</ion-label>
          <ion-input type="number" [(ngModel)]="patientID.cedulaNumber"></ion-input>
        </ion-item> 
        
    </ion-list>

  </ion-card>

  <!--  Latitude and Longitude  -->
  <ion-card>
    <ion-card-header class='card-title'>
      {{'LOCATION' | translate }} <!--| Ubicación-->
    </ion-card-header>

      <ion-item>
        <p text-center>{{'PRESS' | translate }}</p>
        <button ion-button text-wrap color="primary-light" round block large (click)='recordCoordinates()'>{{patientID.latitude}}, {{patientID.longitude}}</button>
      </ion-item>
  </ion-card>

  <ion-card>
    <ion-item no-lines>
      <button ion-button icon-left full block large color="accent" (click)="post_n_clear()" >
        <ion-icon name="checkmark-circle"></ion-icon>
        {{'SUBMIT' | translate }} {{'REGISTRATION' | translate }}
      </button>
    </ion-item>
  </ion-card>
</ion-content>


<!--Photo Identification
<ion-card>

</ion-card>
-->

<!--ion-item no-lines>
  <button ion-button icon-left full block large color="accent" (click)="postSurveyConfirm()" (click)="presentToast()">
    <ion-icon name="checkmark-circle"></ion-icon>
    Submit | Entrega
  </button>
</ion-item-->