page-home {
    /*
    .alert-radio-label {
        white-space: normal!important;
    }

    .alert-ios .alert-radio-label{
        white-space: pre-line;
    }
    ion-refresher-content{
        color: map-get($colors, primary);
    }
    */

    .card-title {
        //position: absolute;
        //top: 36%;
        background-color: map-get($colors, primary-light);
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: map-get($colors, primary-dark);
      }
    
      .card-subtitle {
        background-color: map-get($colors, primary-dark);
        font-size: 1.25em;
        //position: absolute;
        //top: 52%;
        width: 100%;
        color: white;
      }
    ion-refresher-content{
        $refresher-icon-color: map-get($colors, primary);
        $refresher-text-color: map-get($colors, primary);
    }
    
}
