page-home {
    /*
    .alert-radio-label {
        white-space: normal!important;
    }

    .alert-ios .alert-radio-label{
        white-space: pre-line;
    }
    ion-refresher-content{
        color: map-get($colors, primary);
    }
    */

    div {
        //border: 1px solid #E6E6E7;
        border-radius: 0.5rem;
    }
    ion-refresher-content{
        $refresher-icon-color: map-get($colors, primary);
        $refresher-text-color: map-get($colors, primary);
    }
    
}
