<ion-content>

    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterItems()"></ion-searchbar>
    
    <!--div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div-->
    
    <ion-list>
        <ion-item *ngFor="let item of filteredItems" (click)='setItem(item)'>
            <!--
            <button ion-button icon-start outline full (click)='setItem(item)'>
                {{item.title}}
                <ion-icon name="star"></ion-icon>
            </button>
            -->
            {{item.title}}
        </ion-item>
    </ion-list>
     
</ion-content>