page-map {

	#map_canvas {
        width: 100%;
        height: 100%;
    }
    .places {
        //background-color: black;
        text-align: left;
        word-wrap: break-word;
    }
    
    .button-inner {
        //background-color: red;
        word-wrap: break-word;
    }

    ion-icon{
        font-size: 40px; //Preferred size here
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

}
