page-map {
    .places {
        //background-color: black;
        text-align: left;
        word-wrap: break-word;
    }
    
    .button-inner {
        //background-color: red;
        word-wrap: break-word;
    }

}
