page-signin {

    .background {
        /* Midnight City */
        background: #000000; 
        background: -webkit-linear-gradient(to bottom, #1c1c1c, #000000); 
        background: linear-gradient(to bottom, #1c1c1c, #000000); 
        
        
    }

    .scroll-content {
        margin-top: 0 !important;
    }

    .logo {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        //background-color: black;
        img {
            margin-top: 50px;
            margin-bottom: 20px;
            width: 50%;
            animation: 2.5s 1s ease fadeInAndSpin;
            animation-fill-mode: forwards;
        }

    }

    ion-item {
        background: transparent !important;
        ion-input {
            color: map-get($colors, primary);
        }
    }
    
}


@keyframes fadeInAndSpin {

    100% {
        opacity: 1;
        transform: rotate3d(1, 1, 0, 0deg);
    }

}

@keyframes fadeIn {

    100% {
        opacity: 1;
    }

}