page-signin {

    .scroll-content {
        margin-top: 0 !important;
    }

    .logo {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        img {
            margin-top: 50px;
            margin-bottom: 20px;
            width: 50%;
            //animation: 2.5s 1s ease fadeInAndSpin;
            animation-fill-mode: forwards;
        }

    }

    .fillin {
      background-color: black;
      .text{
        color: map-get($colors,primary);
      }
      ion-label{
        //color: #f9c55c;
        color: map-get($colors,primary);
      }
    }
    
    .background {
        background-color: black;
    }
}
