<ion-content >
  <ion-card>

    <ion-item color='primary-dark' (click)="close()">
        {{ 'CLIENT' | translate }}
      <ion-label>{{clientFname}} {{clientLname}}</ion-label>
      <ion-icon name="person" item-start></ion-icon>
    </ion-item>
    
    <ion-card-header class='card-title' color="primary-light">
        {{ 'PRESCRIPTIONS' | translate }}
    </ion-card-header>

      <ion-item-group>
        <ion-item>
            <ion-label floating>{{ 'NAME' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="prescriptions.name"></ion-input>
        </ion-item>
      </ion-item-group>

  </ion-card>


  <ion-card>
    <ion-item no-lines>
      <button ion-button icon-left full block large color="accent" (click)="post_n_clear()" [disabled]="!isenabled">
        <ion-icon name="checkmark-circle"></ion-icon>
        {{ 'SUBMIT' | translate }} {{ 'PRESCRIPTIONS' | translate }}
      </button>
    </ion-item>
  </ion-card>
</ion-content>

<content-drawer [options]="drawerOptions">
    <searchbar-object-id (emitObjectIDfromComponent)='inputObjectIDfromComponent($event)'></searchbar-object-id>
</content-drawer>
