page-profile-modal {
    ion-card {
        position: relative;
        text-align: center;
      }

    ion-icon {
        font-size: 30px; //Preferred size here
    }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        //color: #fff;
        color: map-get($colors,primary);
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 48%;
        width: 100%;
        //color: #fff;
        color: map-get($colors,primary);
      }

      .card-button {
          width: 100%
        
      }

}
